    <div id="banner-heading">
      <div class="centered">
        <h1>Cooper's Sick Shirts</h1>
      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-sm card-align">
      <div class="card card-inline" style="width: 18rem;">
        <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1G9b6RVXXXXbmXVXXq6xXFXXXn/EnjoytheSpirit-Cotton-T-shirt-No-Printing-Plain-T-Shirt-T-Shirt-Men-with-No-Logo-Printing.jpg_640x640.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm card-align">
      <div class="card card-inline" style="width: 18rem;">
        <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1ZYrRRVXXXXc8XVXXq6xXFXXXH/EnjoytheSpirit-Cotton-T-shirt-No-Printing-Plain-T-Shirt-T-Shirt-Men-with-No-Logo-Printing.jpg_640x640.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm card-align">
      <div class="card card-inline" style="width: 18rem;">
        <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1lrslRVXXXXbJXpXXq6xXFXXXD/EnjoytheSpirit-Cotton-T-shirt-No-Printing-Plain-T-Shirt-T-Shirt-Men-with-No-Logo-Printing.jpg_640x640.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
    That shirt's sick!
</div>